@import 'tailwindcss';

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono:
    var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, monospace;
}

@import '@repo/ui/globals.css';

/* Fix paths to reach the root from apps/web/app */
@source "../**/*.{js,ts,jsx,tsx,mdx}";
@source "../../../packages/ui/src/**/*.tsx";
@source "../../../packages/templates/**/*.tsx";
@source "../../../packages/builder/**/*.tsx";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
